/**!
 * @package   Vitronic
 * @filename  vitronic.css
 * @version   1.0
 * @autor     Díaz Urbaneja Víctor Eduardo Diex <victor.vector008@gmail.com>
 * @date      28.05.2020 04:47:13 -04
 */

/* Elimino los bordes del boton de salir en el sidebar */
#sidebar_quit {
	border-left: none;
	border-bottom: none;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	border-top-left-radius: 1px;
}
